doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")

		// Latest compiled and minified CSS
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')

		// Optional theme
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css')
		link(rel="stylesheet", href="stylesheets/sharingButtons.css")
		link(rel="stylesheet", href="stylesheets/contactCard.css")
		link(rel="stylesheet", href="stylesheets/main.css")


		// Latest compiled and minified JavaScript
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
		script(src="scripts/sharing.js")
	body
		.container
			.row
				nav.navbar.navbar-fixed-top
					a.btn(href="#purpose") Purpose
					a.btn(href="#team") Team
					a.btn(href="#contact") Contact
					section.Facebook
						.button
							a(href="http://www.facebook.com/sharer/sharer.php?u=#", target="_blank").share-button.share.facebook Share On Facebook
						.cover
							img(src="assets/facebook.png")
						.shadow
					section.Twitter
						.button
							a(href="http://www.twitter.com/intent/tweet?url=#&text=Simple%20social%20media%20share%20buttons", target="_blank").share-button.share.twitter Share On Twitter 
						.cover
							.innie
							.spine
							.outie
						.shadow
				h1.text-center Welcome to Alpha-Sci
				video(autoplay loop poster="assets/trading.mp4")
					source(src="assets/trading.mp4", type="video/mp4")
			.row#purpose
				h1.text-center Our Purpose
				p One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.
			.row#team
				h1.text-center Our Team 
				p One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.
				.contact-holder
					contact-image-holder
						img(src="assets/lorenzo.png" alt="Lorenzo's pic").img-circle.img-responsive
					hr 
					.content
						b Lorenzo
						| ipsum dolor sit amet, consectetur adipisicing elit. Asperiores beatae nobis officia quidem sit cum cumque culpa possimus harum d
						| bitis nima veniam ad, laboriosam earum ullam unde nemo, iusto quasi. 
					hr
					.bottom
						p Lorenzo Barberis Canonico
				.contact-holder
					contact-image-holder
						img(src="assets/lorenzo.png" alt="Dan's pic").img-circle.img-responsive
					hr 
					.content
						b Dan
						| ipsum dolor sit amet, consectetur adipisicing elit. Asperiores beatae nobis officia quidem sit cum cumque culpa possimus harum de
						| bitis nima veniam ad, laboriosam earum ullam unde nemo, iusto quasi. 
					hr
					.bottom
						p Dan Shapiro
				.contact-holder
					contact-image-holder
						img(src="assets/lorenzo.png" alt="Jesus's pic").img-circle.img-responsive
					hr 
					.content
						b Jesus
						| ipsum dolor sit amet, consectetur adipisicing elit. Asperiores beatae nobis officia quidem sit cum cumque culpa possimus harum de
						| bitis nima veniam ad, laboriosam earum ullam unde nemo, iusto quasi. 
					hr
					.bottom
						p Jesus Castaneda
			.row#contact
				h1.text-center Contact Us 
				.col-md-6
					h2 Questions & Updates
					p One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.
				.col-md-6
					h2 Careers with Us
					p One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.
