doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")

		// Latest compiled and minified CSS
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')

		// Optional theme
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css')
		link(rel="stylesheet", href="stylesheets/main.css")


		// Latest compiled and minified JavaScript
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
		script(src="scripts/sharing.js")
		script(src="scripts/nav.js")
		script(src="scripts/mobileMenu.js")
	body
		.container
			.row#top
				button.menu Menu
				nav.navbar.mobile
					a.btn(href="#purpose") Purpose
					a.btn(href="#team") Team
					a.btn(href="#contact") Contact
				nav.navbar.navbar-fixed-top.full
					a.btn(href="#purpose") Purpose
					a.btn(href="#team") Team
					a.btn(href="#contact") Contact
					section.Facebook.btn
						.button
							a(href="http://www.facebook.com/sharer/sharer.php?u=#", target="_blank").share-button.share.facebook Share On Facebook
						.cover
							img(src="assets/facebook.png")
						.shadow
					section.Twitter.btn
						.button
							a(href="http://www.twitter.com/intent/tweet?url=#&text=Simple%20social%20media%20share%20buttons", target="_blank").share-button.share.twitter Share On Twitter 
						.cover
							.innie
							.spine
							.outie
						.shadow
				h1.text-center Welcome to Alpha-Sci
				#video
					video(autoplay loop)
						source(src="assets/trading.mp4", type="video/mp4")
			.row#purpose
				h1.text-center Our Purpose
				p.col-md-8 One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.
			.row#team
				h1.text-center Our Team 
				p.col-md-8 One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.
				.contact-holder
					contact-image-holder
						img(src="assets/lorenzo.png" alt="Lorenzo's pic").img-circle.img-responsive
					hr 
					.content
						b Lorenzo
						| One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.
					hr
					.bottom
						p Lorenzo Barberis Canonico
				.contact-holder
					contact-image-holder
						img(src="assets/dan.png" alt="Dan's pic").img-circle.img-responsive
					hr 
					.content
						b Dan
						| One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. 
					hr
					.bottom
						p Dan Shapiro
				.contact-holder
					contact-image-holder
						img(src="assets/jesus.png" alt="Jesus's pic").img-circle.img-responsive
					hr 
					.content
						b Jesus
						| One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.
					hr
					.bottom
						p Jesus Castaneda
				.contact-holder
					contact-image-holder
						img(src="assets/ryan.png" alt="Ryan's pic").img-circle.img-responsive
					hr 
					.content
						b Ryan
						| One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.
					hr
					.bottom
						p Ryan Ortega
			.row#contact
				h1.text-center Contact Us 
				.col-md-6
					h2 Questions & Updates
					h3 Are you:
					ul
						li A fellow financial engineer intrigued by our mission?
						li A financial manager interested in seeing just how much our software can improve your alpha?
						li A journalist interested in writing a piece about our revolutionary technology?
						li An investor desiring a return superior to that of the S&P500?
						li A financial theorist interested in the economic implications of our system?
					h3 Shoot us an email at 
					h4 positive.alpha.sci@gmail.com	
				.col-md-6
					h2 Careers with Us
					.col-md-6
						h3 Development and Engineering
						h5 We are looking for developers experienced in: 
						ul
							li Python and math modules
							li API development
							li MongoDB
							li Data Analysis
						h5 Bonus Points for experience in:
						ul
							li R 
							li Financial Engineering
							li Algorithmic Trading
							li Cloud hosting with Openshift
						p Being a team player with a strong interest in data and finance is highly preferred because <b>at Alpha-Sci you don't work FOR us: you work WITH us</b>
					.col-md-6
						h3 Business Development
						h5 Join if you bring with you:
						ul 
							li A desire to change the finance game
							li An interest in working with people on Wall Street and finance
							li Tenacity in following up with potential clients
							li A drive to always win and excel beyond mere expectations
						h5 Bonus Points for:
						ul
							li Years of sales experience and cold calling
							li Previous experience and connections to the financial industry
						p If you are looking to jump start your sales career in one of the hottest growing startups in Silicon Valley, we want you.  
