doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")

		// Latest compiled and minified CSS
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')

		// Optional theme
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css')
		link(rel="stylesheet", href="stylesheets/main.css")


		// Latest compiled and minified JavaScript
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
		script(src="scripts/sharing.js")
		script(src="scripts/nav.js")
		script(src="scripts/mobileMenu.js")
		script(src="scripts/showHide.js")
	body
		.container
			.row#top
				button.menu Menu
				nav.navbar.mobile
					a.btn(href="#purpose") Purpose
					a.btn(href="#team") Team
					a.btn(href="#contact") Contact
				nav.navbar.navbar-fixed-top.full
					a.btn(href="#purpose") Purpose
					a.btn(href="#team") Team
					a.btn(href="#contact") Contact
					section.Facebook.btn
						.button
							a(href="http://www.facebook.com/sharer/sharer.php?u=www.positivealphasci.com" target="_blank").share-button.share.facebook Share On Facebook
						.cover
							img(src="assets/facebook.png")
						.shadow
					section.Twitter.btn
						.button
							a(href="http://www.twitter.com/intent/tweet?url=http%3A%2F%2Fwww.positivealphasci.com&text=Check%20out%20how%20Alpha-Sci%20is%20changing%20Finance%20and%20Wall%20Street", target="_blank").share-button.share.twitter Share On Twitter 
						.cover
							.innie
							.spine
							.outie
						.shadow
				h1.text-center Welcome to Alpha-Sci
				h3.text-center The Reliable Way to Be Better
				#video
					video(autoplay loop)
						source(src="assets/trading.mp4", type="video/mp4")
						img(src="assets/wildExchange.png")
			.row#purpose
				h1.text-center Our Purpose
				p.col-md-8.lead.text-center We enable fund managers and equity traders to mature better strategies aimed at outperforming the market. Our software precisely assesses the alpha of a trade in order to find superior alternatives that will gain the fund a better edge over the S&P. 
				p.col-md-8.lead.text-center The future holds better returns, and the key to the future lies in a better understanding of the past. 
			.row#team
				h1.text-center Our Team 
				p.col-md-8.lead.text-center Mexico, Italy, East Coast and West Coast: our team brings together a unique blend of culture and experience that propels our mission forward! Algorithms, securities, programming and finance barely scrape the surface of the nuanced and fascinating challenges our team tackles with hard work and creativity. 
				.contact-holder
					contact-image-holder
						img(src="assets/lorenzo.png" alt="Lorenzo's pic").img-circle.img-responsive
					h3.text-center Founder and Chief Executive Officer
					hr 
					.content
						b Lorenzo
						| , originally from Italy, moved to South Carolina while in middle school. After overcoming the challenge of learning a new language in a foreign place, he joined his school's debate team and Youth in Government program to pursue his interest in politics and economics. He discovered his passion for finance and computer science after taking a myriad of online college courses at the height of the MOOCs boom in 2012. After graduating high school last May and advancing his coding skills at a local accellerator, Lorenzo moved to Palo Alto to work on Alpha-Sci full time. He is now being considered for the 2015 Thiel Fellowship. 
						hr
					.bottom
						p Lorenzo Barberis Canonico
				.contact-holder
					contact-image-holder
						img(src="assets/dan.png" alt="Dan's pic").img-circle.img-responsive
					h3.text-center Founder and Chief Technology Officer
					hr 
					.content
						b Dan
						|  is a software developer from Indiana. Initially an electrical engineer pursuing a PhD in material science, Dan discovered his true passion lied in software development, and thus embarked in an odyssey that would eventually land him in Greenville, South Carolina. By chance, he met Lorenzo at a local StartUp Weekend conference and they immediately connected over their passion for finance and programming. Dan has also recently become a father, which has brought him great joy and satisfaction. When he is not outputing amazing code or taking care of his wife and daughter, Dan enjoys watching Mad Men. 
					hr
					.bottom
						p Dan Shapiro
				.contact-holder
					contact-image-holder
						img(src="assets/jesus.png" alt="Jesus's pic").img-circle.img-responsive
					h3.text-center Chief Product Officer
					hr 
					.content
						b Jesus
						|  , originally from Mexico, moved to South Caroline while in high school. Jesus and Lorenzo met while representing South Carolina at the national conference for Youth in Government, and they instantly connected through they shared love of math and programming and more importantly through their shared belief in the American Dream. A programming prodigy since elementary school, Jesus has applied his talent in all of his many interests, ranging from robotics to economics. When is not changing the world through his code, Jesus spends his time taking online college courses and running cross country.  
					hr
					.bottom
						p Jesus Castaneda
				.contact-holder
					contact-image-holder
						img(src="assets/ryan.png" alt="Ryan's pic").img-circle.img-responsive
					h3.text-center VP of Business Development
					hr 
					.content
						b Ryan
						|  is a LA native who brings his West Coast charm to the team. After graduating from CSU and UCLA, he forged his own path as investment research professional, acquiring critical experience from all levels of the financial industry along the way. After moving to Palo Alto and meeting Lorenzo, he joined Alpha-Sci in order to expose his extensive network to alpha-sci's revolutionary technology. When he is not making new friends and keeping in touch with his old ones, he nerds out with Lorenzo by talking about derivatives, prominent players in finance, and most importantly: Bitcoin.  
					hr
					.bottom
						p Ryan Ortega
			.row#contact
				h1.text-center Contact Us 
				.col-md-8
					h2 Questions & Updates
					h3 Are you:
					ul
						li A fellow financial engineer intrigued by our mission?
						li A financial manager interested in seeing just how much our software can improve your alpha?
						li A journalist interested in writing a piece about our revolutionary technology?
						li An investor desiring a return superior to that of the S&P500?
						li A financial theorist interested in the economic implications of our system?
					h3 Shoot us an email at 
					h4 
						a(href="mailto:positive.alpha.sci@gmail.com") positive.alpha.sci@gmail.com	
				.col-md-8
					h2 Careers with Us
					.col-md-6
						h3 Development and Engineering
						h5 We are looking for developers experienced in: 
						ul
							li Python and math modules
							li API development
							li MongoDB
							li Data Analysis
						h5 Bonus Points for experience in:
						ul
							li R 
							li Financial Engineering
							li Algorithmic Trading
							li Cloud hosting with Openshift
						p Being a team player with a strong interest in data and finance is highly preferred because <b>at Alpha-Sci you don't work FOR us: you work WITH us</b>
					.col-md-6
						h3 Business Development
						h5 Join if you bring with you:
						ul 
							li A desire to change the finance game
							li An interest in working with people on Wall Street and finance
							li Tenacity in following up with potential clients
							li A drive to always win and excel beyond mere expectations
						h5 Bonus Points for:
						ul
							li Years of sales experience and cold calling
							li Previous connections to the financial industry
						p If you are looking to jump start your sales career in one of the hottest growing startups in Silicon Valley, we want you.  
