@import "contactCard";
@import "sharingButtons";

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

// Universal Elements //

body {
	/* IE10 Consumer Preview */ 
	background-image: -ms-radial-gradient(center, ellipse farthest-corner, #000000 0%, #065BBD 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #000000 0%, #065BBD 100%);

	/* Opera */ 
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #000000 0%, #065BBD 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #000000), color-stop(1, #065BBD));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #000000 0%, #065BBD 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(ellipse farthest-corner at center, #000000 0%, #065BBD 100%);
}

h1 {
	margin-top: 5%;
}

.row {
	width: 100%;
	margin: 0 auto 0 auto;
}

// Specifics and Classes //

#top {
	color: white;
	margin-bottom: 40%;

	nav.mobile {

		a.btn {
			background-image: linear-gradient(-90deg, #6314FF, #3B8BBA);
			color: white;
		}
	}
}

#video {
	position: absolute;
    	top: 0px;
	left: 0px;
	width: 100%;
	z-index: -2;

	video {
		width: 100%;
	}
}

.fallback {
	@extend #video;
	height: 635px;
	background: url("../assets/wildExchange.png") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.row#purpose {
	/* IE10 Consumer Preview */ 
	background-image: -ms-radial-gradient(center, ellipse closest-corner, #000000 0%, #248AFF 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center, ellipse closest-corner, #000000 0%, #248AFF 100%);
	/* Opera */ 
	background-image: -o-radial-gradient(center, ellipse closest-corner, #000000 0%, #248AFF 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #000000), color-stop(1, #248AFF));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, ellipse closest-corner, #000000 0%, #248AFF 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(ellipse closest-corner at center, #000000 0%, #248AFF 100%);
	color: white;
	padding-bottom: 50px;
	border: 3px solid black;
	@include border-radius(25px);
	-moz-box-shadow: -7px -7px 7px #888;
	-webkit-box-shadow: -7px -7px 7px #888;
	box-shadow: -7px -7px 7px #888;
	text-shadow: 4px 2px 2px black; 

	p.col-md-8 {
	 	margin: 0 15%;
		line-height: 1.8;
		font-weight: 400;
	}
}	

.pic1 {
	width: 100%;
	height: 350px;
	margin: 13px auto 20px auto; 
	background: url("../assets/financeSpreadsheet.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.row#team { 
	/* IE10 Consumer Preview */ 
	background-image: -ms-radial-gradient(center, ellipse closest-corner, #000000 0%, #248AFF 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center, ellipse closest-corner, #000000 0%, #248AFF 100%);
	/* Opera */ 
	background-image: -o-radial-gradient(center, ellipse closest-corner, #000000 0%, #248AFF 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #000000), color-stop(1, #248AFF));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, ellipse closest-corner, #000000 0%, #248AFF 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(ellipse closest-corner at center, #000000 0%, #248AFF 100%);
	color: white;
	padding-bottom: 50px;
	border: 3px solid black;
	@include border-radius(25px);
	-moz-box-shadow: -7px -7px 7px #888;
	-webkit-box-shadow: -7px -7px 7px #888;
	box-shadow: -7px -7px 7px #888;
	
	p.col-md-8 {
		margin: 0 15%;
		line-height: 1.8;
		border: 2px solid black;
      		-moz-box-shadow: 0 0 10px #888;
            	-webkit-box-shadow: 0 0 10px #888;
	        box-shadow: 0 0 10px #888;
	}
}

.pic2 {
	@extend .pic1;
	background: url("../assets/FinancialEng.png") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.row#contact {
	/* IE10 Consumer Preview */ 
	background-image: -ms-radial-gradient(center, ellipse closest-corner, #000000 0%, #248AFF 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center, ellipse closest-corner, #000000 0%, #248AFF 100%);
	/* Opera */ 
	background-image: -o-radial-gradient(center, ellipse closest-corner, #000000 0%, #248AFF 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #000000), color-stop(1, #248AFF));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, ellipse closest-corner, #000000 0%, #248AFF 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(ellipse closest-corner at center, #000000 0%, #248AFF 100%);

	color: white;
	padding-bottom: 50px;
	@include border-radius(25px);
      	border: 3px solid black;
        @include border-radius(25px);
      	-moz-box-shadow: -7px -7px 7px #888;
        -webkit-box-shadow: -7px -7px 7px #888;
	box-shadow: -7px -7px 7px #888;

	.col-md-8 {
		text-shadow: 4px 2px 2px black; 
		border: 3px solid black;
		@include border-radius(10px);
		margin: 15px 15%;
      		-moz-box-shadow: 0 0 50px #888;
            	-webkit-box-shadow: 0 0 50px #888;
	        box-shadow: 0 0 50px #888;

		h4 {
			a {
				color: white;
				text-shadow: 2px 3px 2px blue;
				transition: font-size 0.15s ease;
			}

			a:hover {
				font-size: 1.15em;
			}
		}

		ul, h5 {
			line-height: 1.8;
			text-shadow: 1px 1px 1px black; 
		}

		p {
			text-shadow: 1.5px 1.5px 1.5px black;
		}
	}
}

@media screen and (min-width: 500px) {

	nav.full {
		background-color: teal;
		opacity: .7;

		a.btn {
			background-color: #5cb85c;
			color: white;
			text-shadow: -0.6px 0 black, 0 0.6px black, 0.6px 0 black, 0 -0.6px black;
			font-size: 1.2em;
			width: 150px;
			height: 40px;
		}

		section.btn, a.btn {
			margin: 2px 4%;
		}

		a.btn:hover {
			background-color: teal;
			border: 3px solid #5cb85c;
			@include border-radius(15px);
			transition: background-color 400ms;
			transition: border-radius 200ms;
		}
	}

	#top {
		h1 {
			font-size: 4em;
			margin: 15% 0 2% 0;
		}

		h3 {
			font-size: 2.6em;
		}
	}
}
