@import "contactCard";
@import "sharingButtons";

#top {
	color: white;
	margin-bottom: 50%;

	nav.mobile {

		a.btn {
			background-image: linear-gradient(-90deg, #6314FF, #3B8BBA);
			color: white;
			display: none;
		}
	}

	nav.full {

		section.btn, a.btn {
		}
	}
}

#video {
	position: absolute;
    	top: 0px;
	left: 0px;
	width: 100%;
	z-index: -2;

	video {
		width: 100%;
	}
}

@media screen and (min-width: 500px) {

	nav.mobile {
		display: none;
	}

	nav.full {
		background-color: teal;
		opacity: .5;
	
		a.btn {
			background-color: #5cb85c;
			color: white;
			text-shadow: -0.6px 0 black, 0 0.6px black, 0.6px 0 black, 0 -0.6px black;
			font-size: 1.2em;
			width: 150px;
			height: 40px;
		}

		section.btn, a.btn {
			margin: 2px 4%;
		}
	}
}
