.contact-holder {
  text-align: center;
  color: black;
  margin: 120px auto 0 auto;
  width: 78%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.7), 0px 4px 0px #FF0090, inset 0px 1px 0px #fff, inset 0px -1px 0px rgba(0, 0, 0, 0.4), 0px 6px 26px rgba(0, 0, 0, 0.4); }
  .contact-holder .contact-image-holder {
    margin-top: -100px;
    position: relative;
    left: 50%;
    margin-left: -77px;
    padding: 6px;
    width: 154px;
    height: 154px;
    border-radius: 50%;
    border: 1px dashed #FF0090;
    box-shadow: 0px 3px 26px rgba(0, 0, 0, 0.4); }
    .contact-holder .contact-image-holder img {
      border-radius: 50%;
      width: 140px;
      border: 5px solid #FDFDFD;
      box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.4); }
  .contact-holder .content {
    margin-top: 20px; }
  .contact-holder .bottom {
    line-height: 15px;
    text-transform: uppercase;
    font-weight: bold; }
    .contact-holder .bottom p::before, .contact-holder .bottom p::after {
      display: inline-block;
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 1px 20px;
      background: rgba(0, 0, 0, 0.05);
      box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.4);
      border-bottom: 1px solid #fff; }

@media screen and (min-width: 500px) {
  .contact-holder {
    width: 44%;
    min-width: 427px; } }
@media screen and (min-width: 980px) {
  .contact-holder {
    margin: 80px 2.5% 0 2.5%;
    float: left; } }
section.Twitter, section.Facebook {
  transition-duration: .6s;
  transition-timing-function: ease;
  display: inline-block;
  position: relative;
  padding: .7em 1.1em;
  background: #A9ADB6;
  border-radius: .25rem;
  perspective: 300;
  box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0.25rem 1rem rgba(0, 0, 0, 0.1); }
  section.Twitter div, section.Facebook div {
    transition-duration: .6s; }
  section.Twitter .button, section.Facebook .button {
    transition-timing-function: ease; }
  section.Twitter .cover, section.Facebook .cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: center bottom;
    transform-style: preserve-3d;
    font: 1.25em/2 "icon";
    color: white;
    text-align: center;
    pointer-events: none;
    z-index: 100; }
  section.Twitter .innie, section.Twitter .outie, section.Twitter .spine, section.Twitter .shadow, section.Facebook .innie, section.Facebook .outie, section.Facebook .spine, section.Facebook .shadow {
    position: absolute;
    width: 100%; }
  section.Twitter .innie, section.Twitter .outie, section.Facebook .innie, section.Facebook .outie {
    height: 100%;
    background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%);
    border-radius: .25rem; }
  section.Twitter .innie:after, section.Twitter .outie:after, section.Facebook .innie:after, section.Facebook .outie:after {
    content: "t"; }
  section.Twitter .innie, section.Facebook .innie {
    background-color: #67E2FE;
    text-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2); }
  section.Twitter .spine, section.Facebook .spine {
    top: .25rem;
    background: #20C7F3;
    height: .25rem;
    transform: rotateX(90deg);
    transform-origin: center top; }
  section.Twitter .shadow, section.Facebook .shadow {
    top: 100%;
    left: 0;
    height: 3.5rem;
    transform-origin: center top;
    transform: rotateX(90deg);
    opacity: 0;
    z-index: 0;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, transparent 100%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, transparent 100%);
    border-radius: .4rem; }
  section.Twitter .outie, section.Facebook .outie {
    background-color: #2EC8FA;
    transform: translateZ(0.25rem);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }

section.Facebook {
  padding: .7em .1em; }

@font-face {
  font-family: icon;
  src: url("http://bennettfeely.com/fonts/icons.woff"); }
section.Facebook:hover, section.Twitter:hover {
  background: #EBEFF2; }
  section.Facebook:hover .button, section.Twitter:hover .button {
    opacity: 1; }
  section.Facebook:hover .cover, section.Facebook:hover .innie, section.Facebook:hover .spine, section.Facebook:hover .outie, section.Facebook:hover .spine, section.Twitter:hover .cover, section.Twitter:hover .innie, section.Twitter:hover .spine, section.Twitter:hover .outie, section.Twitter:hover .spine {
    transition-timing-function: cubic-bezier(0.2, 0.7, 0.1, 1.1); }
  section.Facebook:hover .cover, section.Twitter:hover .cover {
    transform: rotateX(-120deg); }
  section.Facebook:hover .innie, section.Twitter:hover .innie {
    background-color: #3ADAFC; }
  section.Facebook:hover .spine, section.Twitter:hover .spine {
    background-color: #52B1E0; }
  section.Facebook:hover .outie, section.Twitter:hover .outie {
    background-color: #2174A0;
    color: rgba(255, 255, 255, 0); }
  section.Facebook:hover .shadow, section.Twitter:hover .shadow {
    opacity: 1;
    transform: rotateX(45deg) scale(0.95); }

#top {
  color: white;
  margin-bottom: 50%; }
  #top nav.mobile a.btn {
    background-image: linear-gradient(-90deg, #6314FF, #3B8BBA);
    color: white;
    display: none; }

#video {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: -2; }
  #video video {
    width: 100%; }

@media screen and (min-width: 500px) {
  nav.mobile {
    display: none; }

  nav.full {
    background-color: teal;
    opacity: .5; }
    nav.full a.btn {
      background-color: #5cb85c;
      color: white;
      text-shadow: -0.6px 0 black, 0 0.6px black, 0.6px 0 black, 0 -0.6px black;
      font-size: 1.2em;
      width: 150px;
      height: 40px; }
    nav.full section.btn, nav.full a.btn {
      margin: 2px 4%; } }

/*# sourceMappingURL=main.css.map */
